:host {
    position: relative;
    display: inline-block;
}
:host(:hover) {
    cursor: text;
}

::shadow {
    /*padding: .5em 1em;*/
}

:host /deep/ input {
    width: 100%;
    padding: 0;
    color: inherit;
}

#container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
}

#label {
    position: absolute;
    pointer-events: none;
    color: #888;
}
#label.hidden {
    display: none;
}

#ripple {
    pointer-events: none;
}
