:host {
    position: relative;
    display: inline-block;
    color: inherit;
}
:host(:hover) {
    cursor: text;
}

::content core-icon {
    position: absolute;
    top: 6px;
}
:host(.icon) /deep/ input {
    margin-left: 32px;
}
:host(.icon) /deep/ #label {
    left: 32px;
}


::shadow {
    /*padding: .5em 1em;*/
}

:host /deep/ input {
    width: 100%;
    padding: 0;
    color: inherit;
    text-align: inherit;
}

:host(.center) {
    text-align: center;
}

.fit {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
}

#container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
}

#label {
    position: absolute;
    pointer-events: none;
    color: #888;
}
#label.hidden {
    display: none;
}

#ripple {
    pointer-events: none;
}
