:host {
    position: relative;
    display: inline-block;
    color: inherit;
}
:host(:hover) {
    cursor: text;
}

:host #icon {
    position: absolute;
    top: 6px;
}
:host(.icon) /deep/ input {
    margin-left: 2em;
    width: calc( 100% - 2em );
}
:host(.icon) /deep/ #label {
    left: 2em;
}

:host(.right) #icon {
    right: 1em;
}
:host(.icon.right) /deep/ input {
    margin-left: 0px;
    margin-right: 2em;
}
:host(.icon.right) /deep/ #label {
    left: 0;
    margin-right: 2em;
}


::shadow {
    /*padding: .5em 1em;*/
}

:host /deep/ input {
    width: 100%;
    padding: 0;
    color: inherit;
    text-align: inherit;
}

:host(.center) {
    text-align: center;
}

:host .fit {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
}

:host #container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
}

:host #label {
    position: absolute;
    pointer-events: none;
    color: #888;
}
:host #label.hidden {
    display: none;
}

:host #ripple {
    pointer-events: none;
}
